

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-md-3">
                <label class="font-noraml">{{ 'emailTemplateSearchByNameLabel' | translate }}</label>
                <input class="form-control" ng-model="search.Name" placeholder="{{ 'emailTemplateSearchByNamePlaceholder' | translate }}" />
            </div>        
        </div>        
        <div class="row" style="margin-top:5px;">
            <div class="col-md-3">
                <button class="btn btn-primary inline" ng-click="create()"><i class="fa fa-plus"></i> {{ 'emailTemplateCreateNewButton' | translate }}</button>
            </div>                
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" ng-repeat="template in templates | filter:search">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <!--<div class="">
                        <img src="{{template.urlImage}}" />
                    </div>-->
                    <div class="product-desc">
                        <small class="text-muted">{{template.Type}}</small>
                        <a ng-click="view(template)" class="product-name"> {{template.Name}} </a>

                        <div class="small m-t-xs">
                            {{template.Subject}}
                        </div>
                        <div class="m-t text-righ">
                            <a ng-click="view(template)" class="btn btn-xs btn-outline btn-primary">{{ 'emailTemplateViewButton' | translate }} <i class="fa fa-arrow-right"></i> </a>
                            <a ng-click="edit(template)" class="btn btn-xs btn-outline btn-primary">{{ 'emailTemplateEditButton' | translate }} <i class="fa fa-edit"></i> </a>
                            <a ng-click="delete(template)" class="btn btn-xs btn-outline btn-primary">{{ 'emailTemplateDeleteButton' | translate }} <i class="fa fa-remove"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
