<script type="text/javascript">
    if (document.getElementById("page-top") === undefined || document.getElementById("page-top") === null) {
    document.location.href="/angular/index.html";
  }
</script>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{'SpaceConfigAllTitle' | translate }}</h2>       
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row wrapper wrapper-content">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> {{'SpaceConfigAllInfoSpaceTitle' | translate}} </h5>
                <!--<div ibox-tools></div>-->
            </div>
            <div class="ibox-content">
                <div class="form-group">
                    <h5>{{ 'SpaceConfigNameLabel' | translate }}</h5>
                    <input ng-model="space.Name" class="form-control" placeholder="{{ 'SpaceConfigAllInfoSpaceNamePlaceHolder' | translate }}" />
                </div>
                <div class="form-group">
                    <h5>{{ 'SpaceConfigLanguagePrefferedLabel' | translate }}</h5>
                    <select ng-model="space.Configuration.PreferredLanguage" class="form-control">
                        <option value="en">{{ 'TopNavLanguageSelectEnglish' | translate }}</option>
                        <option value="fr">{{ 'TopNavLanguageSelectFrench' | translate }}</option>
                    </select> 
                </div>
                <!--
                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" checked class="onoffswitch-checkbox" id="example1">
                        <label class="onoffswitch-label" for="example1">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" id="example2">
                        <label class="onoffswitch-label" for="example2">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                    -->
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> {{'SpaceConfigDesignInfoTitle' | translate}} </h5>
                <!--<div ibox-tools></div>-->
            </div>
            <div class="ibox-content">
                <div class="form-group">
                    <h5>{{ 'SpaceConfigDesignColourComponent' | translate }}</h5>
                    <input colorpicker type="text" ng-model="space.Configuration.componentColor" class="form-control" />
                </div>     
                <div class="form-group" id="space-logo-picker">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>{{ 'SpaceConfigDesignLogoTitle' | translate }}</h5>
                            <div style="position:relative;margin-top:5px" id="uploadFileDiv">
                                <a class='btn btn-primary btn-upload-attchments' href='javascript:;'>
                                    <i class="glyphicon glyphicon-upload"></i> {{ 'SpaceConfigDesignLogoUploadButton' | translate }}
                                    <input type="file" name='upload' id='upload' style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' size="40" onchange='Upload()'>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6>{{ 'SpaceConfigDesignLogoPreviewtext' | translate }}</h6>
                            <div>
                                <img ng-src="{{space.Configuration.spaceLogoUrl}}" width="180px" />
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <button class="btn btn-primary form-control inline" ng-click="saveConfig()"><i class="fa fa-save"></i> {{ 'spaceSaveConfigButton' | translate }}</button>
    </div>
</div>

<script>
    function Upload() {
        angular.element('#space-logo-picker').scope().doUpload();
    }
</script>