<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script>
var widgetId1;
var onloadCallback = function() {
    widgetId1 = grecaptcha.render('captcha', {
        'sitekey': '6LfBhxMUAAAAAMOoXPAPlF0H1NlSNhcEj2Tab0kj',
        'theme' : 'light'
    });
};

var checkCaptcha = function () {
    if (grecaptcha.getResponse(widgetId1) == '') {
        return false;
    }
    return true;
};
</script>
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"></h1>
        </div>
        <h3>{{ 'forgotPasswordTextTitle' | translate }}  </h3>
        <p>
            {{ 'forgotpasswordTextIntroduction' | translate }}
        </p>
        <p></p>
        <form class="m-t" role="form" name="forgotPasswordForm" ng-submit="processFormForgotPassword(forgotPasswordForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$touched}">
                <input class="form-control" ng-model="formData.email" name="email" type="email" placeholder="{{ 'ForgotPasswordPlaceholderUsername' | translate }}" required="" autofocus>
                <p ng-show="forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$touched" class="help-block"> {{ 'ForgotPasswordValidationText' | translate }} </p>
            </div>    
            <div class="form-group">
                <div id="captcha" ng-show="captchaShow"></div>
            </div>       
            <button type="submit" ng-disabled="!forgotPasswordForm.$valid || loadingForm" class="btn btn-primary block full-width m-b">{{ 'forgotPasswordButtonSend' | translate }} <i class="vertical-align glyphicon glyphicon-circle-arrow-right"></i><img ng-show="loadingForm" width="20px" src="/Angular/img/squares.gif" /></button>
        </form>
        <a class="btn btn-sm btn-white btn-block" ng-click="backToLogin()"> {{ 'RegisterTextBackToLogin' | translate }} </a>
        <!-- <p class="m-t"> <small>bzhcoin &copy; 2014</small> </p>-->
    </div>
</div>