<div ng-controller="isAuthenticatedCtrl"></div>
<div class="middle-box text-center loginscreen animated fadeInRight" ng-class="{ 'fadeOutLeftBig' : success }">
    <div>
        <div>
            <h1 class="logo-name"></h1>
        </div>
        <h3>{{ 'ChangePasswordTextTitle' | translate }}  </h3>
        <p>
            {{ 'ChangePasswordTextIntroduction' | translate }}
        </p>
        <p></p>
        <form class="m-t" role="form" name="changePasswordForm" ng-submit="processFormChangePassword(changePasswordForm.$valid)" novalidate>  
            <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.currentPassword.$invalid && changePasswordForm.currentPassword.$touched}">
                <input type="password" class="form-control" ng-model="formData.currentPassword" name="currentPassword" placeholder="{{ 'modifyPasswordPlaceholderCurrentPassword' | translate }}" required="">
                <p ng-show="changePasswordForm.currentPassword.$invalid && changePasswordForm.currentPassword.$touched" class="help-block "> {{ 'modifyPasswordCurrentPasswordValidationText' | translate }} </p>
            </div>         
            <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.password.$invalid && changePasswordForm.password.$touched}">
                <input type="password" class="form-control" ng-model="formData.password" name="password" placeholder="{{ 'modifyPasswordPlaceholderNewPassword' | translate }}" required="">
                <p ng-show="changePasswordForm.password.$invalid && changePasswordForm.password.$touched" class="help-block "> {{ 'modifyPasswordNewPasswordValidationText' | translate }} </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$touched) || (formData.confirmPassword != formData.password && ChangePasswordForm.confirmPassword.$touched) }">
                <input type="password" class="form-control" ng-model="formData.confirmPassword" ng-change="passwordMatch()" name="confirmPassword" placeholder="{{ 'modifyPasswordPlaceholderConfirmPassword' | translate }}" required="">
                <p ng-show="changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$touched" class="help-block"> {{ 'modifyPasswordConfirmPasswordValidationText' | translate }} </p>
                <p ng-show="changePasswordForm.confirmPassword.$touched && formData.confirmPassword != formData.password" class="help-block"> {{ 'modifyPasswordConfirmPasswordNoMatchValidationText' | translate }} </p>
            </div>
            <button type="submit" ng-disabled="!changePasswordForm.$valid || loading || formData.confirmPassword != formData.password" class="btn btn-primary block full-width m-b">{{ 'ChangePasswordButtonChangePassword' | translate }} <i class="vertical-align glyphicon glyphicon-circle-arrow-right"></i></button>
        </form>    
    </div>
</div>

