<?xml version="1.0" encoding="UTF-8"?>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Config général -->
    <add key="AppVersion" value="2.1.2" />
    <add key="InitializeDb" value="false" />

    <!--Config SMTP  server-->
    <add key="SmtpServer:Host" value="smtp-mail.outlook.com" />
    <add key="SmtpServer:Port" value="587" />
    <add key="SmtpServer:EnableSsl" value="true" />
    <add key="SmtpServer:Timeout" value="100000" />
    <add key="SmtpServer:Username" value="**************************" />
    <add key="SmtpServer:Password" value="**********************" />
    <add key="SmtpServer:DefaultFrom" value="**************************" />
    <add key="SmtpServer:AllEmailCciTo" value="**************************" />

    <!--Config registration and forgot password-->
    <add key="AutoRegistration:Enabled" value="true" />
    <add key="AutoRegistration:ConfirmationEmail:Enabled" value="true" />
    <add key="AutoRegistration:ConfirmationEmail:DefaultFrom" value="*****************" />
    <add key="AutoRegistration:UserRoleDefault:Name" value="**********" />
    <add key="ForgotPassword:Enabled" value="true" />
    <add key="ForgotPassword:Email:DefaultFrom" value="*******************" />


    <!--Kraken API part -->
    <add key="KrakenBaseAddress" value="https://api.kraken.com" />
    <add key="KrakenApiVersion" value="0" />
    <add key="KrakenKey" value="***************" />
    <add key="KrakenSecret" value="********************" />
    <!--/ Kraken API part -->

    <!--Config STRIPE-->
    <add key="UseStripe" value="true" />
    <add key="Payment:MaxAmount" value="1000" />
    <add key="Payment:ApplicationFee" value="0.01" />
    <add key="Payment:StripeKey" value="***********" />
    <!-- / Config STRIPE-->

  </appSettings>
