<div class="row wrapper border-bottom white-bg page-heading no-padding">
    <div class="col-md-1 col-xs-2 alignleft">
        <button type="button" class="btn btn-white btn-noborder inline" ng-click="goBack()" title="{{ 'revenirButtonText' | translate }}"> <i class="fa fa-arrow-left"></i> </button>
    </div>
    <div ng-show="delete" class="col-md-11 col-xs-11 alignright">
        <button ng-click="delete()" class="btn btn-xs btn-primary" title="{{ 'deleteButtonText' | translate }}"> <i class="fa fa-trash"></i> </button>
    </div>
</div>